.header {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: rgba(0, 0, 0, 0.219);
  z-index: 1;
}

.info-headers {
  display: inline-block;
  transform: translateX(600px) translateY(-48px);
}

.disabled {
  cursor: not-allowed;
}

.about-header .about-desc {
  visibility: hidden;
  width: 240px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 2px 0;
  position: absolute;
  z-index: 2;
  top: 40px;
  bottom: -90px;
  left: 200px;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.about-header .about-desc::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 197px;
  margin-left: -70px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(62, 103, 150) transparent transparent transparent;
  transform: rotate(180deg);
}

.about-header:hover .about-desc {
  visibility: visible;
  opacity: 1;
}

.instructions-header .instructions {
  visibility: hidden;
  width: 350px;
  background-color: rgb(3, 3, 4);
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 2px 0;
  position: absolute;
  z-index: 2;
  top: 40px;
  bottom: -140px;
  left: 235px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.instructions-header .instructions::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 275px;
  margin-left: -100px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(5, 5, 5) transparent transparent transparent;
  transform: rotate(180deg);
}

.instructions-header:hover .instructions {
  visibility: visible;
  opacity: 1;
}

.second-tooltip {
  margin-top: 10px;
}



.space-between {
  margin-right: 10px; 
}
