.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(0, 0, 0);
  display: inline-table;
}

.node-start {
  background-image: url('../icons/arrow-right.png');
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

.node-finish {
  background-image: url('../icons/waypoint.png');
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

.node-wall {
  animation-name: wallNode;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallNode {
  0% {
    transform: scale(0.2);
    background-color: rgba(62, 103, 150, 0.2);
  }
  50% {
    transform: scale(0.5);
    background-color: rgba(62, 103, 150, 0.5);
  }
  100% {
    transform: scale(1.0);
    background-color: rgba(62, 103, 150, 1);
  }
}

.node-visited {
  animation-name: visitNode;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitNode {
  0% {
    transform: scale(0.2);
    background-color: rgba(240, 62, 62, 0.2);
  }
  50% {
    transform: scale(0.5);
    background-color: rgba(240, 62, 62, 0.5);
  }
  100% {
    transform: scale(1.0);
    background-color: rgba(240, 62, 62, 1);
  }
}

.node-path {
  animation-name: shortestPath;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate-reverse;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.5);
    background-color: rgb(32, 174, 250);
  }
  50% {
    transform: scale(1.5);
    background-color: rgb(32, 174, 250);
  }
  100% {
    transform: scale(1.0);
    background-color: rgb(32, 174, 250);
  }
}